.parameters {
  align-items: stretch; 
}

.description{
  flex-grow: 1;
  p {
    
  }
}

.vertical-divider {
  height: auto !important; 
  margin: 0 15px !important;
  
}
.MuiTextField-root{
  margin-bottom: 5px !important;
  width: 12.5rem;
}